extends ../pug/layout_default.pug

block pageMain
	section.hero
		.grid
			.hero__inner
				.hero__info
					h1.hero__title
						| Аренда новой
						br
						| спецтехники
					.hero__bubble с экипажем сроком от 1 месяца
				a.hero__frame(data-scroll href="#equipment")
					svg.hero__frame-icon
						use(xlink:href='img/svgSprite.svg#icon__arrow_down')
					.hero__frame-title Новая техника
					.hero__frame-date 2020–2021 гг.
	section.about
		.grid
			.about__inner
				.about__grid
					+about-items([
						{icon: 'dozer', label: 'Современность', title: 'Новая современная техника HITACHI и KOMATSU 2020/2021 годов выпуска'},
						{icon: 'construction', label: 'Качество', title: 'Большой опыт организации непрерывного цикла круглосуточной работы'},
						{icon: 'satellite', label: 'Безопасность', title: 'Вся техника оснащена ССМ Глонасс и системой видеонаблюдения'},
						{icon: 'docs', label: 'Сертифицированность', title: 'Работаем на объектах ПАО «Транснефть», со всеми необходимыми аттестациями'},
						{icon: 'collaborate', label: 'Доверие', title: 'Объекты федерального значения (трасса М12 Москва-Казань, 11 единиц техники круглосуточно)'},
						{icon: 'vagon', label: 'Забота', title: 'Есть собственные жилые вагон-дома для проживания сотрудников'}
					])
	section.equipment.section
		#equipment.section__anchor
		.grid
			.section__inner.equipment__inner
				.section__label Оборудование
				h2.section__title Наша техника
				.equipment__triggers
					.equipment__trigger.equipment__trigger_active(data-tab="excavator") Экскаваторы
					.equipment__trigger(data-tab="bulldozer") Бульдозеры
				.equipment__slider-wrap
					.equipment__tab.equipment__tab_active(data-target='excavator')
						.swiper.equipment__slider.equipment__slider_excavator
							.swiper-wrapper
								.swiper-slide
									.equipment__card
										+equipment(
											[
												{image: '01_01'},
												{image: '01_02'}
											],
											'Экскаватор Hitachi ZX200-5G',
											'20 тн / 1 куб ковш',
											'2020 г. в.',
											[
												{number: 'г/н АВ 5147 16'},
												{number: 'г/н АВ 6402 16'}
											]
										)
								.swiper-slide
									.equipment__card
										+equipment(
											[
												{image: '02_01'},
												{image: '02_02'},
												{image: '02_03'},
												{image: '02_04'}
											],
											'Экскаватор Hitachi ZX240LC-5G',
											'24 тн / 1,4 куб ковш',
											'2021 г. в.',
											[
												{number: 'г/н АВ 8285 16'},
												{number: 'г/н АВ 8286 16'},
												{number: 'г/н АВ 8633 16'},
												{number: 'г/н АВ 8735 16'},
											]
										)
								.swiper-slide
									.equipment__card
										+equipment(
											[
												{image: '03_01'},
												{image: '03_02'},
												{image: '03_03'},
												{image: '03_04'}
											],
											'Экскаватор Hitachi ZX330-5G',
											'34 тн / 1,6 куб ковш',
											'2021 г. в.',
											[
												{number: 'г/н АВ 8360 16'},
												{number: 'г/н АВ 8401 16'},
												{number: 'г/н АВ 8402 16'},
												{number: 'г/н АВ 8803 16'},
											]
										)
						.swiper-button-next.equipment__slider-next.equipment__slider-next_excavator
							svg.swiper-button-icon
								use(xlink:href='img/svgSprite.svg#icon__arrow_left')
						.swiper-button-prev.equipment__slider-prev.equipment__slider-prev_excavator
							svg.swiper-button-icon
								use(xlink:href='img/svgSprite.svg#icon__arrow_right')
					.equipment__tab(data-target='bulldozer')
						.swiper.equipment__slider.equipment__slider_bulldozer
							.swiper-wrapper
								.swiper-slide
									.equipment__card
										+equipment(
											[
												{image: '04_01'},
												{image: '04_02'},
												{image: '04_03'},
											],
											'Бульдозер Komatsu D65EX-16',
											'21 тн / 211 л. с.',
											'2021 г. в.',
											[
												{number: 'г/н АВ 8571 16'},
												{number: 'г/н АВ 8572 16'},
												{number: 'г/н АВ 8735 16'},
											]
										)
						.swiper-button-next.equipment__slider-next.equipment__slider-next_bulldozer
							svg.swiper-button-icon
								use(xlink:href='img/svgSprite.svg#icon__arrow_left')
						.swiper-button-prev.equipment__slider-prev.equipment__slider-prev_bulldozer
							svg.swiper-button-icon
								use(xlink:href='img/svgSprite.svg#icon__arrow_right')
	section.team.section
		#team.section__anchor
		.grid
			.section__inner.team__inner
				.section__label Люди
				h2.section__title Команда
				.team__slider-wrap
					.swiper.team__slider
						.swiper-wrapper
							.swiper-slide
								+team('01', 'Андрей Алтапов', true, true, '12 людям', 'ex', '11 лет')
							.swiper-slide
								+team('02', 'Андрей Вегеря', false, false, '1 человеку', 'ex', '33 года')
							.swiper-slide
								+team('04', 'Пётр Бобров', false, '', '', 'ex', '5 лет')
							.swiper-slide
								+team('05', 'Иван Гаврилов', true, true, '12 людям', 'ex', '7 лет')
							.swiper-slide
								+team('06', 'Сергей Пронин', false, false, '1 человеку', 'ex', '6 лет')
							.swiper-slide
								+team('07', 'Дмитрий Ретин', true, true, '943 людям', 'ex', '6 лет')
							.swiper-slide
								+team('08', 'Алексей Майоров', false, '', '', 'ex', '4 года')
							.swiper-slide
								+team('09', 'Алексей Суряков', false, false, '1 человеку', 'ex', '30 лет')
							.swiper-slide
								+team('10', 'Евгений Морозов', true, true, '943 людям', 'ex', '7 лет')
							.swiper-slide
								+team('11', 'Александр Карпов', true, true, '12 людям', 'ex', '17 лет')
							.swiper-slide
								+team('13', 'Александр Полежаев', true, true, '943 людям', 'ex', '42 года')
					.swiper-button-next.team__slider-next
						svg.swiper-button-icon
							use(xlink:href='img/svgSprite.svg#icon__arrow_left')
					.swiper-button-prev.team__slider-prev
						svg.swiper-button-icon
							use(xlink:href='img/svgSprite.svg#icon__arrow_right')
	section.join.section
		.grid
			.section__inner.join__inner
				.section__label Присоединяйся
				h2.section__title Хочешь работать #[br] в нашей команде?
				form.form.join__form
					.form__grid
						.form__text Оставь контакты ниже и мы обязательно перезвоним
						+field('Имя', 'footer-name')
						+field_phone('Телефон', 'footer-phone')
						button.button Отправить
						.form__small Нажимая кнопку «Отправить» вы соглашаетесь с #[a(href='#') Политикой конфиденциальности] и #[a(href='#') Пользовательским соглашением]
		img.join__image(src='img/bg__join.jpg')
	section.objects
		#objects.section__anchor
		.swiper.objects__sliderBack
			.swiper-wrapper
				.swiper-slide
					img.objects__image(src='img/img__object_01.jpg', alt='')
				.swiper-slide
					img.objects__image(src='img/img__object_02.jpg', alt='')
				.swiper-slide
					img.objects__image(src='img/img__object_03.jpg', alt='')
			.swiper-pagination.objects__sliderPagination
			.swiper-button-next
				svg.swiper-button-icon
					use(xlink:href='img/svgSprite.svg#icon__arrow_left')
			.swiper-button-prev
				svg.swiper-button-icon
					use(xlink:href='img/svgSprite.svg#icon__arrow_right')
		.objects__panel
			.objects__header
				.section__label В жизни
				h2.section__title Наши объекты
			.swiper.objects__sliderFront
				.swiper-wrapper
					.swiper-slide
						.objects__grid
							.objects__info
								h3.objects__title М-12
								.objects__name Строящаяся скоростная автомобильная дорога Москва — Нижний Новгород — Казань
								.objects__stage 6 этап: км 454 — км 586
								.objects__descr от пересечения с автомобильной дорогой регионального значения 22К-0162 «Работки – Порецкое» до пересечения с автомобильной дорогой федерального значения А – 151 «Цивильск – Ульяновск»
								.objects__place Нижегородская область, Чувашская республика
								.objects__company ООО «Рога и копыта»
								a.button.objects__button(data-hystmodal="#review") Смотреть отзыв
					.swiper-slide
						.objects__grid
							.objects__info
								h3.objects__title М-12
								.objects__name Строящаяся скоростная автомобильная дорога Москва — Нижний Новгород — Казань
								.objects__stage 6 этап: км 454 — км 586
								.objects__descr от пересечения с автомобильной дорогой регионального значения 22К-0162 «Работки – Порецкое» до пересечения с автомобильной дорогой федерального значения А – 151 «Цивильск – Ульяновск»
								.objects__place Нижегородская область, Чувашская республика
								.objects__company ООО «Рога и копыта»
								a.button.objects__button(data-hystmodal="#review") Смотреть отзыв
					.swiper-slide
						.objects__grid
							.objects__info
								h3.objects__title М-5
								.objects__name Реконструкция автомобильной дороги М-5 «УРАЛ»
								.objects__stage км 1360+000 — км 1375+000
								.objects__descr от Москвы через Рязань, Пензу, Самару, Уфу до Челябинска
								.objects__place Республика Башкортостан
								.objects__company ООО «Копыта и рога»
								a.button.objects__button(data-hystmodal="#review") Смотреть отзыв

	#callback.hystmodal(aria-hidden='true')
		.hystmodal__wrap
			.popup.hystmodal__window(role='dialog' aria-modal='true')
				button.popup__close.hystmodal__close(data-hystclose='')
				.popup__inner
					.popup__col
						form.form.popup__form
							.form__title Заказать звонок
							.form__text Оставь контакты ниже и мы обязательно перезвоним
							.form__grid
								+field('Имя', 'footer-name')
								+field_phone('Телефон', 'footer-phone')
								button.button Отправить
								.form__small Нажимая кнопку «Отправить» вы соглашаетесь с #[a(href='#') Политикой конфиденциальности] и #[a(href='#') Пользовательским соглашением]
					.popup__col
						img.popup__img(src='img/img__popup_01.jpg', alt='')
	#order.hystmodal(aria-hidden='true')
		.hystmodal__wrap
			.popup.hystmodal__window(role='dialog' aria-modal='true')
				button.popup__close.hystmodal__close(data-hystclose='')
				.popup__inner
					.popup__col
						form.form.popup__form
							.form__title Заказать
							.form__text Оставь контакты ниже и мы обязательно перезвоним
							.form__grid
								+field('Имя', 'footer-name')
								+field_phone('Телефон', 'footer-phone')
								button.button Отправить
								.form__small Нажимая кнопку «Отправить» вы соглашаетесь с #[a(href='#') Политикой конфиденциальности] и #[a(href='#') Пользовательским соглашением]
					.popup__col
						img.popup__img(src='img/img__popup_02.jpg', alt='')
	#thanks.hystmodal(aria-hidden='true')
		.hystmodal__wrap
			.popup.popup_thanks.hystmodal__window(role='dialog' aria-modal='true')
				button.popup__close.hystmodal__close(data-hystclose='')
				.popup__inner
					.popup__col
						.popup__title Спасибо
						.popup__text Мы скоро свяжемся с вами!
	#review.hystmodal(aria-hidden='true')
		.hystmodal__wrap
			.popup.hystmodal__window(role='dialog' aria-modal='true')
				button.popup__close.hystmodal__close(data-hystclose='')
				.popup__inner
					.popup__col
						.popup__title Отзыв
