// В этом файле должны быть стили для БЭМ-блока grid, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.grid {
	@include container(32px, 0px, 0px, 0px, 0px);
	height: 100%;
	position: relative;
	z-index: 2;
	&_fluid {
		padding: 0 16px;
		transition: padding .5s ease;
		width: 100% !important;
		@media (min-width: $screen-sm) {
			padding: 0 16px;
		}
		@media (min-width: $screen-md) {
			padding: 0 24px;
		}
		@media (min-width: $screen-lg) {
			padding: 0 32px;
		}
		@media (min-width: $screen-xxl) {
			padding: 0 40px;
		}
		&::after,
		&::before {
			content: none !important;
		}
	}

	& > * {
		position: relative;
		z-index: 2;
	}
}
