//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.

include ../blocks/about/about.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/equipment/equipment.pug
include ../blocks/field/field.pug
include ../blocks/team/team.pug
