// В этом файле должны быть стили для БЭМ-блока input, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.input {
	background: var(--color_bg_grey);
	border: 1px solid transparent;
	display: block;
	font-size: 16px;
	line-height: 100%;
	margin: 0;
	padding: 13px 19px;
	transition: background .25s ease,
				border .25s ease;
	width: 100%;
	&::-webkit-input-placeholder {
		color: transparent;
	}
	//-&:hover,
	&_has-value,
	&:focus {
		background: var(--color_bg_white);
		border: 1px solid var(--color_accent);
		outline: none;
	}
	&:not(:placeholder-shown) ~ label {
		background: var(--color_bg_white);
		left: 12px;
		top: 0;
	}
	&[type='tel'] {
		//padding-left: 40px;
	}
}
